{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% extends 'temp/user_home.html' %}
{% block base%}
	<h1 align="center">ADD VACCINE DETAILS</h1>
        <form method="post">
            {% csrf_token %}
	<table align="center">

		<tr>
		<td>DATE</td>
		<td><input type="date" name="dat"></td>
		</tr>
		<tr>
			<td>TIME</td>
			<td><input type="time" name="tim"></td>
		</tr>

		<td align="center" colspan="2"><input type="submit" name="add"  value="ADD"></td>
	</table>
        </form>
{% endblock %}
</body>
</html>
